body {
    background-color: #EEE;
}

h1, h2, h3, h4 {
    margin: 0;
}

table, th, td{
	border: 1px solid black;
	
}

.alert0 {
  padding: 20px;
  background-color: #15c439;
  color: white;
}

.alert1 {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

#container {
    background-color: white;
}

#header{
    background-color: #66CCFF;
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
    padding: 10px;
}

#nav {
    width: 180px;
    height: 300px;
    float: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#main {
    text-align: left;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}